#tittle-banner {
    position: absolute;
    top: 10px;
    z-index: 10;
    width: 100%;
    height: 120px;
    background-image: linear-gradient(to right,  #08b059, #00b1e8, #203771);
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: white;
    font-family: 'Arial', sans-serif;
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.banner-text h1 {
    margin: 0;
}
.banner-text h3 {
    margin: 0;
    font-style: italic;
    display: flex;
    align-items: center;
    width: 100%;
    white-space: nowrap;
}

.banner-text h3::before {
    content: "";
    display: block;
    width: 15px; /* Pequeña línea a la izquierda */
    height: 2px;
    background-color: white;
    margin-right: 5px;
}

.banner-text h3::after {
    content: "";
    display: block;
    flex-grow: 1; /* Se estira hasta el final */
    height: 2px;
    background-color: white;
    margin-left: 5px;
}

.Topbar {

}